a.list-group-item {
    height:auto;
    min-height:220px;
}
a.list-group-item.active small {
    color:#fff;
}
.stars {
    margin:20px auto 1px;
}
@media screen and (min-width: 1024px) {
  .beer-image {
    max-width: 245px;
    height: 185px;
  }
}
